nav h1 { margin: 0; padding: 0;}

.navRight{
  float: right;
  margin-top: 15px;
  margin-right: 20px;

}
#navBar {
  border-bottom: 1px solid black;
}

.well {
  background-color: white;
  border: 1px solid black;
}

.btn-default:hover {
    color: white;
    background-color: #ffa31a;
    border-color: white;
}

