

// NAVBAR!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

nav h1 {
  margin-left: 0;
  padding: 0;

}

.navRight{
  float: right;
  margin-top: 15px;
  margin-right: 20px;

}

#navBar {
  border-bottom: 1px solid black;
}

#loginGroup {
  display: block;
}

.btn-default:hover {
    color: white;
    background-color: #ffa31a;
    border-color: white;
}

.well {
  background-color: white;
  border: 1px solid black;
}


.left {
  text-align: center;
  margin:0;
  padding:0;
  // background-image: url('./gamepad.jpg');
}

.right {
  text-align: center;
  margin:0;
  padding:0;
}


// MAIN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#findtourn {

  height: 800px;
  position: relative;
  background-color: #f2fdff;
  padding: 0px;
  //background-image: url('gamepad.jpg');
}

#createTourn {
  height: 800px;
  position: relative;
  background-color: #fff8f2;
  padding: 0px;
}

.innerdiv{
  position: absolute;
  left: 40%;
  bottom: 30%;
  text-align: right;

}

.inner {
  background-color:white;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;

}

.inner:hover{
  background-color:#ffa31a;
  color: white;
  border: 1px solid white;
}

.inner1div{
  position:absolute;
  right:55%;
  bottom:30%;
  text-align: left;

}

.inner1 {
  background-color:white;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;

}

.inner1:hover{
  background-color:#ffa31a;
  color: white;
  border: 1px solid white;
}

// TOURNAMENT PAGE!!!!!!!!!!!!!!!!!
 .tournInput {
  text-align: center;

 }
