

// NAVBAR!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


#navBar h1 {
  color: white;
}

#navBar h1:hover{
  cursor:pointer;
}

.navRight{
  float: right;
  margin-top: 15px;
  margin-right: 20px;

}

#navBar {
  border-bottom: 1px solid black;
  background-color:#14181e;
}


.btn-default:hover {
    color: white;
    background-color: #ffa31a;
    border-color: white;
}
// Tounament info SIDEBAR

.sidebar-container {


}

.well {
  background-color: #51555b;
  border: 1px solid black;
  margin-left: 15px;
}

#tournament-name {
  color: #ffa31a;
}

.tourn-info {
  color: white;
}

.well h4 {
  color: white;
}

// MAIN///////////////////////////////////

.left {
  text-align: center;
  margin:0;
  padding:0;

}

.right {
  text-align: center;
  margin:0;
  padding:0;
}


// MAIN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#maindiv {
  height: 800px
}

#findtourn {

  height: 800px;
  position: relative;
  background-color: #031b42;
  padding: 0px;

}

img {
  height:800px;
  width: auto;
  opacity:0.7;
}

#createTourn {
  height: 800px;
  position: relative;
  background-color: #3a1307;
  padding: 0px;
}

.innerdiv{
  // position: absolute;
  // left: 40%;
  bottom: 50%;
  text-align: right;
  color: white;
}

.innerdivheadline h1 {
  font-size: 3.51em;

}



.innerbtn {
  background-color:red;
  display: inline-block;
  text-align: center;
  padding: 10px 40px 10px 40px;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  opacity:0.85;

}

.innerbtn:hover{
  opacity: 1;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.inner1div{
  // position:absolute;
  // right:55%;
  bottom:50%;
  text-align: left;
  color: white;


}

.inner1btn {
  background-color:blue;
  display: inline-block;
  text-align: center;
  padding: 10px 40px 10px 40px;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  opacity:0.85;


}

.inner1btn:hover{
  background-color:blue;
  color: white;
  border: 1px solid white;
  opacity:1;
  cursor: pointer;
}

// TOURNAMENT PAGE!!!!!!!!!!!!!!!!!
 .tournInput {
  text-align: center;
  background-color: #2c2f33;
  color: white;

 }

 .tournDiv{
  height: 800px;
  background-color: #2c2f33;
 }

input[type="text"], input[type="date"], input[type="time"], input[type="password"], input[type="number"], textarea {
  background-color : #d1d1d1;
}



 // Findtournament Page //////////////////////////////////////////////////////

 .mapdiv{
  height: 800px;
  z-index: 1;
}

 //DISPLAYTOURNAMNET PAGR

.roundAnnounce {
  color: #ffa31a;
 }
.display-div {
  background-color: #3a1307;
}
 .matchup {
  background-color: #51555b;
  border-radius: 4px;
  padding: 5px;
  margin: 20px 0px 20px 0px;
 }

 .top {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid white;
 }

 .teamName {
  color: white;
 }

 //FOOTER???????????????????????????????????????/

 #footer {
  border-top: 1px solid black;
  background-color: #14181e;
  height: 100px;
  z-index: -1;
 }
